@import url('https://fonts.googleapis.com/css2? família=Lato:wght@700edisplay=swap');
@import url('https://fonts.googleapis.com/css2? família=Lato:wght@700&família=Open+Sans:wght@300&display=swap');

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #55439E, #952FFF);
}

.main-container{
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url(./img/Ellipse-8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-left-bottom{
    height: 284px;
    width: 284px;
    position: absolute;
    left: 20px;
    bottom: 15px;
}

#img-left-top{
    width: 290.25px;
    height: 267.16px;
    position: absolute;
    top: -100px;
    left: -30px;
}

#img-right{
    width: 440px;
    height: 550px;
    position: absolute;
    right: 0;
    top: 50px;
}

.info{
    width: 100%;
    max-width: 1117px;
    z-index: 9;
    display: flex;
    justify-content: space-between;
}

.info_title{
    width: 480px;
}

.info_title h1{
    font-family: lato, sans-serif;
    width: 431px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    text-transform: capitalize;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 20px;
}

.info_title p{
    font-family: Open Sans, sans-serif;
    width: 386px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 60px;
}

.info_submit{
    width: 100%;
    position: relative;
}

.info_submit input{
    width: 100%;
    height: 80px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(45px);
    padding-left: 30px;
}

.info_submit input::placeholder{
    font-family: lato;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    color: #cdbfd8;

}

.info_submit button{
    width: 120px;
    height: 60px;
    background-color: #4f3aa7;
    border-radius: 6px;
    font-family: lato, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    outline: none;
    border: none;
    position: absolute;
    top: 12px;
    right: -20px;
}

.info_card .card{
    width: 500px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(45px);
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
    padding: 40px 50px;
}

.info_card .card::before{
    content: '';
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-right: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    border-radius: 20px 0 0 20px;
}

.info_card .card::after{
    content: '';
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-left: none;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    border-radius: 0 20px 20px 0;
}

.card_title h2{
    font-family: lato,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color:#ffffff;
    margin-top: 0;
    margin-bottom: 46px;
}

.card_chip{
    margin-bottom: 45px;
}

.card_chip img{
    width: 60px;
    height: 43px;
}

.card_footer{
    display: flex;
    justify-content: space-between;
}

.card_footer div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card_footer .card_footer-info p{
    font-family: lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
}

.card_footer .card_footer-info p{
    margin: 0;
    font-size: 20px;
    line-height: 30px;
}

.card_footer .card_footer-info p:first-child{
    margin-bottom: 8px;
}

.footer-text{
    font-family: lato,sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 16px;
    line-height: 18px;
}
.footer-text--big{
    letter-spacing: 0.07em;
    font-size: 20px;
    line-height: 30px;

}

